<template>
    <div>
        <p v-if="errors.length">
        <b>Пожалуйста исправьте указанные ошибки:</b>
        <ul>
            <li v-for="error in errors" :key="error">{{ error }}</li>
        </ul>
    </p>
    <div v-show="replyingTo.id" class="col-md-4">
        <div class="text-xs flex text-gray-600 uppercase mb-1">
            <div class="flex items-center flex-none">
                <button @click.prevent="unsetReplyingTo" class="mr-2" style="color:red;">Отменить</button>
                <span class="px-2 py-1 bg-gray-200">Ответить на: </span>
            </div>
            <div class="w-2/3 ml-4 pl-2 py-1 border-l-2 border-indigo-200 text-gray-600">
                {{ replyingTo.text }}
            </div>
        </div>
    </div>
    <form @submit.prevent="submit" class="col-md-4">
        <div class="form-group">
            <label for="exampleInputEmail1">User name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" v-model="name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" v-model="email">
        </div>
        <div class="form-group">
            <label for="homepage">Home page</label>
            <input type="text" class="form-control" id="homepage" placeholder="Home page" v-model="homepage">
        </div>
        <div class="captcha">
            <div class="captcha__image-reload">
                <img class="captcha__image" v-bind:src="captchaImg" width="132" alt="captcha">
                <button type="button" class="captcha__refresh" @click="refreshCaptcha"></button>
            </div>
            <div class="captcha__group">
                <label for="captcha">Код, изображенный на картинке</label>
                <input type="text" name="captcha" id="captcha" v-model="captcha">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input type="file"
                    class="form-control-file"
                    id="customFile"
                    @change="onAttachmentChange"
                >
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Text</label>
            <textarea rows="5" cols="15" name="text" v-model="text"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <Comment @setReplyingTo="setReplyingTo"/>
    </div>    
</template>

<script>
    import Comment from "./Comment.vue";
    export default {
        data () {
            return {
                name: null,
                email: null,
                homepage: null,
                attachment: '',
                text: null,
                comments: [],
                captcha: null,
                captchaImg: null,
                errors: [],
                replyingTo: {},    
            }
        },
        components: {
            Comment
        },
        methods: {
            checkForm: function (e) {
                this.errors = [];

                if (!this.name) {
                    this.errors.push('Укажите имя.');
                }
                if (!this.text) {
                    this.errors.push('Укажите текст комментария.');
                }
                if (!this.captcha) {
                    this.errors.push('Пожалуйста, введите код капчи.');
                }
                if (!this.email) {
                    this.errors.push('Укажите электронную почту.');
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('Укажите корректный адрес электронной почты.');
                }
                if (this.attachment) {
                    let ext = this.fileExt(this.attachment);
                    let trueExts = ['png', 'jpg', 'gif', 'txt'];
                    if(!trueExts.includes(ext)) {
                        this.errors.push('Формат файлов может быть только: '+ trueExts.toString());
                    }
                    if (ext == 'txt') {
                        if(this.attachment.size/1024 > 100000) {
                            this.errors.push('тестовый файл не может быть больше 100кб');
                        }
                    }
                }
                if (!this.errors.length) {
                    return true;
                }

                e.preventDefault();
            },
            fileExt(file) {
                let type = file.name.split('.')
                if(type.length > 1) {
                    let ext = type.pop();
                    return ext;
                }
                return false 
            },
            validEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            refreshCaptcha () {
                axios.get('/captcha')
                    .then(response => {
                        this.captchaImg = response.data
                    })
                    .catch(error => console.log(error))
            },
            submit (e) {
                if(this.checkForm(e)){
                    const config = { 'content-type': 'multipart/form-data' }
                    const formData = new FormData()
                    formData.append('name', this.name)
                    if (this.attachment) {
                      formData.append('attachment', this.attachment)
                    }
                    formData.append('email', this.email)
                    formData.append('homepage', this.homepage)
                    formData.append('text', this.text)
                    formData.append('captcha', this.captcha)
                    formData.append('parent_id', this.replyingTo.id ? this.replyingTo.id : '')
                    axios.post('comments', formData, config)
                        .then(response => {
                            this.name = '';
                            this.text = '';
                            this.email = '';
                            this.homepage = '';
                            this.attachment = '';
                            this.captcha = '';
                            if(!this.replyingTo.id) {
                                this.comments.push(response.data)
                            } else {
                                this.replyingTo.replies.push(response.data)
                            }
                        })
                        .catch(error => {
                            console.log(error.response.data.errors.attachment)
                            for (let backError in error.response.data.errors) {
                                this.errors.push(error.response.data.errors[backError][0])
                            }
                            console.log(this.errors);
                        })
                    this.refreshCaptcha();
                }
            },
            onAttachmentChange (e) {
                this.attachment = e.target.files[0]
            },
            unsetReplyingTo () {
              this.replyingTo = {}
            },
            setReplyingTo(comment){
                this.replyingTo = comment
                window.scrollTo(0,0)
            },
        },
        created() {
            this.refreshCaptcha()
        },
    }
</script>
<style scoped>
*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    button {
      display: inline-flex;
      align-items: center;
      font-weight: 400;
      line-height: 1.5;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      user-select: none;
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    }

    button:hover {
      color: #000;
      background-color: #eee;
      border-color: #eee;
    }

    button:focus {
      color: #000;
      background-color: #eee;
      border-color: #eee;
      box-shadow: 0 0 0 0.25rem rgba(158, 158, 158, 0.5);
    }

    button:disabled {
      pointer-events: none;
      opacity: 0.65;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input[type="text"] {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      appearance: none;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    input[type="text"]:focus {
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

    input.is-invalid {
      border-color: #dc3545;
      padding-right: calc(1.5em + .75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(.375em + .1875rem) center;
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);
      background-color: #fff;
    }

    .invalid-feedback {
      display: none;
      width: 100%;
      margin-top: .25rem;
      font-size: .875em;
      color: #dc3545;
    }

    .is-invalid~.invalid-feedback {
      display: block;
    }

    .captcha__image-reload {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .captcha__image {
      border-radius: 0.25rem;
    }

    .captcha__refresh {
      margin-left: 0.5rem;
    }

    .captcha__refresh::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-repeat' viewBox='0 0 16 16'%3E%3Cpath d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/%3E%3Cpath fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/%3E%3C/svg%3E");
    }

    .captcha__group {
      margin-bottom: 1rem;
    }

    .d-none {
      display: none;
    }

    .form-result {
      background-color: #e8f5e9;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid #e8f5e9;
      border-radius: .25rem;
      color: #2e7d32;
    }
    
</style>