<template>
    <div>
        <div class="comments">
        <search-form @search="fetchComments"/>
        <ul class="media-list" v-if="comments.length > 0">
            <!-- Комментарий (уровень 1) -->
            <li class="media" v-for="comment in comments" :key="comment.id">
            {{comment.ext}}
            <div class="media-left" v-if="comment.file && comment.file.ext !== ''">
                <a href="#">
                <div class="fs-2 mb-3" v-if="comment.file.ext === 'txt'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-txt" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337h.794Zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992 1.274-2.007Zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"></path>
                </svg>
                {{comment.file.name}}
                </div>
                <img v-else class="media-object img-rounded" :src="comment.file.file_path.replace('images', 'images/thumbnails')" alt="">
                </a>
            </div>
            <div class="media-body">
                <div class="media-heading">
                <div class="author">{{comment.name}}</div>
                <div class="metadata">
                    <span class="date">{{moment(comment.created_at).format('YYYY-MM-DD H:m:s')}}</span>
                </div>
                </div>
                <div class="media-text text-justify">{{comment.text}}</div>
                <div class="footer-comment">
                <span class="comment-reply">
                    <a class="reply" @click.prevent="srt(comment)" href="#anchor">ответить</a>
                </span>
                </div>
                <hr>
                <!-- Ещё один вложенный медиа-компонент (уровень 2) -->
                <div class="media" v-for="reply in comment.replies" :key="reply.id">
                <div class="media-left" v-if="reply.file && reply.file.ext !== ''">
                    <a href="#">
                    <div class="fs-2 mb-3" v-if="reply.file.ext === 'txt'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-txt" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337h.794Zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992 1.274-2.007Zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"></path>
                    </svg>
                    {{reply.file.name}}
                    </div>
                    <img v-else class="media-object img-rounded" :src="reply.file.file_path.replace('images', 'images/thumbnails')" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                    <div class="author">{{reply.name}}</div>
                    <div class="metadata">
                        <span class="date">{{moment(reply.created_at).format('YYYY-MM-DD H:m:s')}}</span>
                    </div>
                    </div>
                    <div class="media-text text-justify">{{reply.text}}</div>
                </div>
                </div>
                <!-- Конец ещё одного вложенного комментария (уровень 2) -->
            </div>
            </li>
            <!-- Конец комментария (уровень 1) -->
        </ul>
        <div v-else>Нет элементов.</div>
        <pagination v-if="lastPage > 1" :lastPage = "lastPage" :currentPage = "currentPage" @search="fetchComments" />
      </div>
    </div>
</template>
<script>
import SearchForm from './SearchForm.vue';
import Pagination from './Pagination.vue';
import moment from "moment";
export default {
    data () {
        return {
            comments: [],
            currentPage: 0,
            lastPage: 0
        }
    },
    components: {
        SearchForm, Pagination
    },
    methods:{
        moment: function () {
            return moment();
        },
        fetchComments(page = 1, formData = {}) {
            let link = '/comments/index'
            if (page > 1) {
              link += '?page='+page
            }
            axios.post(link, formData).
            then(response =>{
                this.comments = response.data.data;
                this.lastPage = response.data.last_page;
                this.currentPage = response.data.current_page;
            })
        },
        srt(comment) {
            this.$emit('setReplyingTo', comment)
        }    
    },
    created() {
        this.fetchComments()
    },
}
</script>

<style scoped>
html {
  font-size: 16px;
}
.media-body .author {
  display: inline-block;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}
.media-body .metadata {
  display: inline-block;
  margin-left: .5rem;
  color: #777;
  font-size: .8125rem;
}
.footer-comment {
  color: #777;
}
.vote.plus:hover {
  color: green;
}
.vote.minus:hover {
  color: red;
}
.vote {
  cursor: pointer;
}
.comment-reply a {
  color: #777;
}
.comment-reply a:hover, .comment-reply a:focus {
  color: #000;
  text-decoration: none;
}
.devide {
  padding: 0px 4px;
  font-size: 0.9em;
}
.media-text {
  margin-bottom: 0.25rem;
}
.title-comments {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(0,0,0,.87);
  margin-bottom: 1rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid rgba(34,36,38,.15); 
}
</style>