<template>
    <div>
        <button @click="changePage(1)" v-if="endPage - 10 > 0" :key="1">1</button>
        <button @click="changePage(page)" v-for="page in endPage" :key="page" :disabled="page === currentPage">{{page}}</button>
        <button @click="changePage(lastPage)" v-if="endPage < lastPage" :key="lastPage">{{lastPage}}</button>
    </div>
</template>
<script>
export default {
    data () {
        return {
            endPage: 0
        }
    },
    props:{
        lastPage: Number, 
        currentPage: Number
    },
    methods:{
        startPage(currentPage, lastPage){
            this.endPage = currentPage - 5
            if (this.endPage < 0) {
                this.endPage = 0
            }
            this.endPage += 10;
            if (this.endPage > lastPage) {
                this.endPage = lastPage
            }
        },
        changePage(pageNumber){
          const formData = new FormData()
            formData.append('email', this.$store.getters.EMAIL)
            formData.append('name', this.$store.getters.NAME)
          this.$emit('search', pageNumber, formData)
          console.log(pageNumber);
        }
        
    },
    created() {
        this.startPage(this.currentPage, this.lastPage)
    }
}
</script>
<style scoped>
#app{
  width:80%;
  margin:auto;
}
ul{
  padding: 4px 4px;
  border: 1px solid black;
  
}
li{
  list-style-type:none;
  padding:4px 4px;
}
li:hover{
  background-color:#eee;
}
li:nth-child(2n){
  background-color:#ddd;
}
li:nth-child(2n):hover{
  background-color:#ccc;
}

button{
  width:100px;
  height:40px;
  background-color:#eef;
}

button:hover{
  cursor:pointer;
}
button:hover:disabled{
  cursor:not-allowed;
}
</style>