<template>
    <div>
        <form class="col-md-4" @submit.prevent="filtersearch">
        Поиск
        <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter name" v-model="filter.name">
        </div>
        <div class="form-group">
        <input type="text" class="form-control" id="email" placeholder="Enter email" v-model="filter.email">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</template>
<script>
export default {
    data () {
        return {
            filter:{
                email: this.$store.getters.EMAIL,
                name: this.$store.getters.NAME
            }
        }
    },
    props: {
        listData:{
            type:Function,
            required:true
        },
    },
    methods: {
        filtersearch(e) {
            this.$store.commit('SET_EMAIL', this.filter.email);
            this.$store.commit('SET_NAME', this.filter.name);
            const formData = new FormData()
            formData.append('email', this.$store.getters.EMAIL)
            formData.append('name', this.$store.getters.NAME)
            this.$emit('search', 1, formData)
        },
    }
}
</script>